<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="2dScannerHostname" value="localhost"/>
		<add key="2dScannerPort" value="8000"/>
		<add key="plasma1Default" value="1000" />
		<add key="plasma2Default" value="1000" />
		<add key="buffyCoatDefault" value="800"/>
		<add key="Header_CVSFile"
			 value="SampleDate,BankID,StudyID,AliquotType,AliquotID,InitialAmount,CurrentAmount,NumberOfThaws,LFHMDate,LFHMTime,LFHMOperatorID,LFHMHostname"/>
		<add key="ErrorLogHeader" value="BankID,StudyID,Time,OperatorID,Hostname,Error,Details"/>
		<add key="ExportDrive" value="F:"></add>
		<add key="ExportFolder" value="MavericExport"/>
		<add key="BackupFolder" value="MavericBackup"/>
		<add key="BuffyCoatCoordinate" value="F09"/>
		<add key="Plasma1Coordinate" value="E03"/>
		<add key="Plasma2Coordinate" value="E06"/>
		<add key="ErrorLog" value="error_log.txt"/>
		<add key="1DRegex" value="^[A-z0-9]{13}$" />
		<add key="MVP_RackType" value="M0812"/>

		<add key="ScannerSleep" value="2000"/>
		<add key="ExpectedTubes" value="96"/>


		<!-- Text messages -->
		<add key="BloodSampleScanText" value="Ready to scan next blood sample..." />
		<add key="BloodSampleScanSuccess" value="Blood sample scan successful" />
		<add key="ReadyToScanRack" value="Ready to scan aliquot rack..." />
		<add key="InvalidBloodSampleID" value="This blood sample ID is invalid"/>
		<add key="RepeatBloodSampleID" value="This blood sample ID has already been scanned"/>
		<add key="RepeatAliquot" value="The aliquot tube at {0} has already been scanned"/>
		<add key="WrongNumberAliquots" value="Wrong number of aliquots found (expected {0}, found {1})"/>
		<add key="AliquotsIncorrectPosition" value="Aliquot tubes are in incorrect positions"/>
		<add key="AliquotScanSuccess" value="Aliquot rack scan successful"/>

		<add key="NoExportData" value="No data to export"/>
		<add key="NoThumbDrive" value="Thumb drive not found at {0}\"/>
		<add key="CantCreateExportFolder" value="Could not create export folder"/>
		<add key="CantCreateBackupFolder" value="Could not create backup folder"/>
		<add key="DataExportSuccess" value="Data exported successfully"/>

		<add key="ExitMsg" value="Exit Laminar Flow Hood Module?"/>

		<add key="PrepareScan" value="Preparing to scan..."/>
		<add key="RackNotPresent" value="Rack not present..."/>
		<add key="Scanning" value="Scanning..."/>
		<add key="WaitingForResults" value="Waiting for results..."/>
		<add key="FatalError" value="Fatal Error, please restart application"/>
	</appSettings>
</configuration>